:root {
  --white: #ffffff;
  --blue-gray: #809bce;
  --green: #2ea44f;
  --light-green: #d6eadf;
  --light-black: #24292e;
  --light-blue: #e8f4f8;
  --main-blue: #86c5da;
  --header-font: "Righteous", cursive;
  --text-font: "Questrial", sans-serif;
}
.home-screen {
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  object-fit: contain;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
}

.charts-container .charts-grid {
  display: grid;
  grid-template-columns: calc(40% - 0.75rem) calc(60% - 0.75rem);
  grid-gap: 1.5rem;
}
.login-screen {
  background: rgb(36, 41, 46);
  background: radial-gradient(
    circle,
    rgba(36, 41, 46, 1) 19%,
    rgba(35, 35, 41, 0.958420868347339) 30%,
    rgba(26, 26, 26, 1) 99%
  );
}

.login-screen__login-container {
  background-color: var(--light-black) !important;
  background-color: "red";
  border-radius: 5px;
  box-shadow: 0px 5px 12px 7px #222020;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.hideOnLoad {
  visibility: hidden;
}
.animate {
  margin: 5px 0;
  border: 1px solid rgb(231, 231, 231);
  animation: shimmer 1.5s infinite;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 800px 104px;
}
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media only screen and (max-width: 768px) {
  .cards-container,
  .boxes-container {
    grid-template-columns: 1fr;
  }
  .box-info {
    max-width: unset;
    border: 1px solid black;
  }
  .card-info {
    max-width: unset;
    margin-top: 20px;
  }
  .charts-container .charts-grid {
    grid-template-columns: auto;
    grid-gap: unset;
  }
}
