:root {
  --white: #ffffff;
  --blue-gray: #809bce;
  --green: #b8e0d2;
  --light-green: #d6eadf;
  --light-black: #232528;
  --light-blue: #e8f4f8;
  --main-blue: #86c5da;
  --header-font: "Archivo Black", sans-serif;
  --text-font: "Questrial", sans-serif;
}
.home-screen {
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  object-fit: contain;
}

.cards-container,
.boxes-container {
  display: flex;
  justify-content: space-between;
}
.card-info {
  flex: 1;
  max-width: 49%;
}
.charts-container .charts-grid {
  display: grid;
  grid-template-columns: calc(40% - 0.75rem) calc(60% - 0.75rem);
  grid-gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@media only screen and (max-width: 768px) {
  .cards-container,
  .boxes-container {
    flex-direction: column;
  }
  .box-info {
    max-width: unset;
    border: 1px solid black;
  }
  .card-info {
    max-width: unset;
    margin-top: 20px;
  }
  .charts-container .charts-grid {
    grid-template-columns: auto;
    grid-gap: unset;
  }
}
