:root {
  --white: #ffffff;
  --blue-gray: #809bce;
  --green: #b8e0d2;
  --light-green: #d6eadf;
  --light-black: #232528;
  --light-blue: #e8f4f8;
  --main-blue: #86c5da;
  --header-font: "Archivo Black", sans-serif;
  --text-font: "Questrial", sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
